.users-table tr {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

.users-table-row td{
    border: 1px solid black;
}

.id-icon-dir-top::before {
    content: "\25B2";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.id-icon-dir-down::before {
    transform: rotate(180deg);
}